* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --fs-normal: 12px;
  --fs-bigger: 14px;
  --fs-biggest: 32px;

  --ff-primary: 'Kumbh Sans', sans-serif;
  --fw-regular: 400;
  --fw-medium: 600;
  --fw-bold: 700;
  --br-main: 25px;
  --margin-main: calc(100vh - 80vh);

  --clr-background-gradient-violet: hsl(273, 75%, 66%);
  --clr-background-gradient-blue: hsl(240, 73%, 65%);
  --background-gradient: linear-gradient(
    to bottom,
    var(--clr-background-gradient-violet),
    var(--clr-background-gradient-blue)
  );

  --clr-text-dark-blue: hsl(238, 29%, 16%);
  --clr-text-very-dark-greish-blue: hsl(237, 12%, 33%);
  --clr-text-dark-greish-blue: hsl(240, 6%, 50%);
  --clr-text-soft-red: hsl(14, 88%, 65%);
  --clr-white: white;

  --clr-shadow: hsla(272, 40%, 24%, 0.646);
  --clr-dividers: hsl(240, 5%, 91%);
}

h2,
p {
  font-family: var(--ff-primary);
  font-size: var(--fs-bigger);
  font-weight: var(--fw-regular);
  color: var(--clr-text-very-dark-greish-blue);
}

body {
  width: 100vw;
  min-height: calc(100vh - var(--margin-main));
  max-height: calc(100% + var(--margin-main));
  background-image: var(--background-gradient);
}

main {
  max-width: 330px;
  min-height: 477px;
  background-color: var(--clr-white);
  border-radius: var(--br-main);
  box-shadow: 0 20px 25px -5px var(--clr-shadow);
  margin-top: var(--margin-main);
  margin-bottom: var(--margin-main);
  margin-inline: auto;
  padding: 1.5rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin: 3rem 0 1.5rem;
}

h1 {
  font-size: var(--fs-biggest);
  font-weight: var(--fw-medium);
  font-family: var(--ff-primary);
  color: var(--clr-text-dark-blue);
  margin: 1rem auto;
}

.answer {
  font-size: var(--fs-normal);
  display: none;
}

.info {
  padding: 1rem 0;
  border-bottom: 1px solid var(--clr-dividers);
}

.question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.svg {
  align-self: center;
  margin-right: 0.5rem;
  transition: 0.3s;
}

h2:hover {
  color: var(--clr-text-soft-red);
}

.focus p {
  width: 90%;
  color: var(--clr-text-dark-greish-blue);
  padding-top: 0.5rem;
  display: block;
  text-align: left;
}

.focus h2 {
  font-weight: var(--fw-medium);
}

.focus img {
  transform: rotateZ(180deg);
}

.focus h2:hover {
  color: var(--clr-text-very-dark-greish-blue);
}

.mobile-view {
  height: 11.5rem;
  background-image: url(./images/illustration-woman-online-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin: -8.5rem auto 0 auto;
  position: relative;
}

.mobile-view::after {
  content: ' ';
  width: 15.25rem;
  height: 20rem;
  background-image: url(./images/bg-pattern-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 1.25rem;
  top: 0.5rem;
}

@media screen and (min-width: 962px) {
  .mobile-view {
    display: none;
  }

  main {
    min-width: 860px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .img-container {
    width: 350px;
    overflow: hidden;
    position: relative;
  }

  .img-container::before,
  .img-container::after,
  main::after {
    content: ' ';
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
  }

  .img-container::before {
    width: 55rem;
    height: 55rem;
    background-image: url(./images/bg-pattern-desktop.svg);
    top: -16rem;
    left: -35rem;
  }

  .img-container::after {
    width: 24rem;
    height: 24rem;
    background-image: url(./images/illustration-woman-online-desktop.svg);
    top: 6rem;
    left: -4rem;
  }

  main::after {
    width: 10rem;
    height: 10rem;
    background-image: url(./images/illustration-box-desktop.svg);
    left: -4.8rem;
    top: 12.5rem;
  }

  .info-container {
    width: 350px;
    margin: 3rem 6rem 5rem 0 !important;
  }

  h1 {
    margin: 1rem 0;
  }
}
