*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
  --ff-main: 'Rubik', sans-serif;
  --fw-light: 300;
  --fw-medium: 400;
  --fw-bold: 500;

  --clr-blue: hsl(246, 80%, 60%);
  --clr-work: hsl(15, 100%, 70%);
  --clr-play: hsl(195, 74%, 62%);
  --clr-study: hsl(348, 100%, 68%);
  --clr-exercise: hsl(145, 58%, 55%);
  --clr-social: hsl(264, 64%, 52%);
  --clr-self-care: hsl(43, 84%, 65%);

  --clr-very-dark-blue: hsl(226, 43%, 10%);
  --clr-social-dark-blue: hsl(235, 46%, 20%);
  --clr-social-desaturated-blue: hsl(235, 45%, 61%);
  --clr-social-pale-blue: hsl(236, 100%, 87%);
  --clr-white: hsl(0, 0%, 100%);

  --fs-h1: 20px;
  --fs-h2: 24px;
  --fs-h3: 14px;
  --fs-p: 11px;
  --fs-span: ;

  --br-10: 10px;
}

body {
  font-family: var(--ff-main);
  background-color: var(--clr-very-dark-blue);
  color: var(--clr-white);
  font-weight: var(--fw-light);
}

.main {
  max-width: 355px;
  min-width: 270px;
  padding: 4rem 2rem;
  margin-inline: auto;
}

.person-wrapper,
.card {
  display: grid;
  width: 100%;
}

.person-info {
  background-color: var(--clr-blue);
  display: flex;
  width: 100%;
  padding: 1.25rem;
  border-radius: var(--br-10);
  gap: 1.25rem;
  z-index: 2;
}

.avatar-wrapper {
  height: 3rem;
  width: 3rem;
  border: 2px solid var(--clr-white);
  border-radius: 50%;
}
.avatar-wrapper img {
  width: 100%;
}

.name-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}

.name-info h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-light);
}

.name-info p {
  font-size: var(--fs-p);
  color: var(--clr-social-pale-blue);
  font-weight: var(--fw-medium);
}

.schedule-cycle {
  margin-top: -1rem;
  padding: 2rem 0 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--clr-social-dark-blue);
  border-radius: var(--br-10);
}

.btn {
  background-color: transparent;
  border: none;
  color: var(--clr-social-desaturated-blue);
  text-transform: capitalize;
}

.btn:hover {
  cursor: pointer;
  color: var(--clr-social-pale-blue);
}

.btn-active {
  color: var(--clr-social-pale-blue);
  font-weight: var(--fw-bold);
}

.card {
  margin-top: 2rem;
}

.image-wrapper {
  width: 100%;
  height: 3.5rem;
  background-color: var(--clr-work);
  border-radius: var(--br-10);
  margin-bottom: -1rem;
  overflow: hidden;
}

.Work {
  background-color: var(--clr-work);
  position: relative;
}

.Play {
  background-color: var(--clr-play);
  position: relative;
}
.Study {
  background-color: var(--clr-study);
  position: relative;
}
.Exercise {
  background-color: var(--clr-exercise);
  position: relative;
}
.Social {
  background-color: var(--clr-social);
  position: relative;
}
.Self {
  background-color: var(--clr-self-care);
  position: relative;
}

.Work::after,
.Play::after,
.Study::after,
.Exercise::after,
.Social::after,
.Self::after {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  scale: 0.75;
  transform: translate(-25%, -25%);
}

.Work::after {
  content: url(./images/icon-work.svg);
}

.Play::after {
  content: url(./images/icon-play.svg);
}

.Study::after {
  content: url(./images/icon-study.svg);
}

.Exercise::after {
  content: url(./images/icon-exercise.svg);
}

.Social::after {
  content: url(./images/icon-social.svg);
}

.Self::after {
  content: url(./images/icon-self-care.svg);
}

.specs {
  background-color: var(--clr-social-dark-blue);
  border-radius: var(--br-10);
  z-index: 2;
  padding: 1.5rem 1.25rem;
  display: grid;
  gap: 0.5rem;
}

.specs:hover {
  cursor: pointer;
  background-color: var(--clr-social-desaturated-blue);
}

.title-wrapper,
.info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-wrapper h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

.dots {
  background-color: transparent;
  border: none;
}

.dots:hover {
  cursor: pointer;
  color: var(--clr-white);
}

.info-wrapper h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-light);
}

.info-wrapper p {
  font-size: var(--fs-p);
  color: var(--clr-social-pale-blue);
}

@media screen and (min-width: 800px) {
  .main {
    max-width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin-inline: 0;
    display: grid;
    place-items: center;
  }
  .content-wrapper {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 1.25rem;
  }
  .person-wrapper {
    width: 150px;
  }
  .person-info {
    flex-direction: column;
    padding-bottom: 3rem;
  }

  .name-info h1 {
    font-size: 22px;
  }
  .schedule-cycle {
    margin-top: -2rem;
    padding: 3rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-template-columns: 1fr;
    align-items: flex-start;
    background-color: var(--clr-social-dark-blue);
    border-radius: var(--br-10);
  }
  .activities-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(2, 150px);
    gap: 1.25rem;
  }
  .card {
    margin-top: 0;
  }
  .info-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }
  .Work::after,
  .Play::after,
  .Study::after,
  .Exercise::after,
  .Social::after,
  .Self::after {
    scale: 0.65;
    transform: translate(0, -25%);
  }
  .specs {
    padding: 1.25rem;
  }
}
