* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Overpass', sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-regular: 15px;
  --fs-heading: 25px;

  --clr-orange: hsl(25, 97%, 53%);
  --clr-orange-light: hsla(25, 71%, 57%, 0.8);

  --clr-white: hsl(0, 0%, 100%);
  --clr-light-grey: hsl(217, 12%, 63%);
  --clr-medium-gray: hsl(216, 12%, 54%);
  --clr-dark-blue: hsl(213, 19%, 18%);
  --clr-very-dark-blue: hsl(216, 12%, 8%);
  --clr-medium-dark-blue: hsl(213, 19%, 22%);

  --br-small: 10px;
  --br-circle: 50%;
  --br-btn: 50px;
}

body {
  font-size: var(--fs-regular);
  font-family: var(--ff-primary);
}

section {
  height: 100vh;
  background-color: var(--clr-very-dark-blue);
  display: grid;
  place-content: center;
}

.info {
  width: 360px;
  color: var(--clr-white);
  background-color: var(--clr-dark-blue);
  border-radius: var(--br-small);
  padding: 2rem;
  display: grid;
  gap: 1.5rem;
}

h2 {
  font-weight: var(--fw-regular);
  font-size: var(--fs-heading);
}

p {
  width: 100%;
  font-weight: var(--fw-regular);
  color: var(--clr-light-grey);
  line-height: 25px;
}

.numbers {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 2.75rem;
  height: 2.75rem;
  background-color: var(--clr-medium-dark-blue);
  display: grid;
  place-content: center;
  color: var(--clr-medium-gray);
  border-radius: var(--br-circle);
  transition: 0.3s;
}

.container:not(.star) {
  cursor: pointer;
}

.container:not(.star, .active):hover {
  background-color: var(--clr-orange);
  color: var(--clr-white);
}

.active {
  color: var(--clr-white);
  background-color: var(--clr-light-grey);
}

.btn {
  color: var(--clr-white);
  background-color: var(--clr-orange);
  width: 100%;
  border: none;
  padding: 1rem 0;
  border-radius: var(--br-btn);
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--clr-white);
  color: var(--clr-orange);
}

.rating {
  color: var(--clr-orange-light);
  background-color: var(--clr-medium-dark-blue);
  padding: 0.5rem;
  width: 11rem;
  margin-inline: auto;
  border-radius: var(--br-btn);
}

.img {
  margin-inline: auto;
}

.result {
  text-align: center;
}

.result h2 {
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
}

.result p {
  margin-bottom: 1rem;
}
