* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Poppins', sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --fs-regular: 1rem;
  --fs-heading: 1.75rem;
  --fs-input: 0.9rem;
  --fs-pg: 0.7rem;
  --fs-error: 0.7rem;

  --lh-regular: 1.5rem;

  --br-regular: 10px;
  --br-input: 5px;
  --spacing: 1.35px;

  --clr-red: hsl(0, 100%, 74%);
  --clr-green: hsl(154, 59%, 51%);
  --clr-green-light: hsl(154, 69%, 62%);
  --clr-green-dark: hsl(154, 58%, 43%);
  --clr-blue: hsl(248, 32%, 49%);
  --clr-blue-light: hsl(248, 35%, 56%);
  --clr-dark-blue: hsl(249, 10%, 26%);
  --clr-greish-blue: hsl(246, 25%, 77%);
  --clr-greish-blue-light: hsl(246, 25%, 77%, 0.5);
  --clr-greish-blue-dark: hsl(246, 18%, 66%);
  --clr-white: hsl(0, 0%, 100%);

  --clr-shadow: hsl(249, 10%, 26%, 0.3);
  --shadow: 0 8px 0 0 var(--clr-shadow);
  --shadow-green: 0 4px 0 0 var(--clr-green-dark);
}

body {
  font-size: var(--fs-regular);
  font-weight: var(--fw-400);
  font-family: var(--ff-primary);
  min-height: 100vh;
  position: relative;
}

body::after,
body::before {
  content: ' ';
  inset: 0;
  position: absolute;
}

body::after {
  background-color: var(--clr-red);
  isolation: isolate;
  z-index: -2;
}

body::before {
  background-image: url(./images/bg-intro-mobile.png);
  z-index: -1;
}

main {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  text-align: center;
  padding: 3rem 1.5rem;
}

h1 {
  max-width: 15rem;
  color: var(--clr-white);
  font-size: var(--fs-heading);
  font-weight: var(--fw-600);
  margin: 1rem auto 2rem;
}

h2 {
  color: var(--clr-white);
  font-size: var(--fs-regular);
  font-weight: var(--fw-400);
  font-family: var(--ff-primary);
  line-height: var(--lh-regular);
  letter-spacing: var(--spacing);
}

section {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 1.5rem;
}

.btn {
  color: var(--clr-white);
  padding: 1.25rem;
  font-size: var(--fs-regular);
  border: none;
  border-radius: var(--br-regular);
  letter-spacing: var(--spacing);
  line-height: var(--lh-regular);
  cursor: pointer;
}

.btn span {
  font-weight: var(--fw-600);
}

.cta-btn {
  background-color: var(--clr-blue);
  box-shadow: var(--shadow);
}

.cta-btn:hover {
  background-color: var(--clr-blue-light);
}

.form {
  padding: 1.5rem;
  background-color: var(--clr-white);
  border-radius: var(--br-regular);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  width: 100%;
  color: var(--clr-dark-blue);
  font-size: var(--fs-input);
  font-weight: var(--fw-600);
  padding: 1.25rem;
  border: 1px solid var(--clr-greish-blue-light);
  border-radius: var(--br-input);
  letter-spacing: var(--spacing);
  outline: none;
}

.input::placeholder {
  color: var(--clr-greish-blue-dark);
}

.input-wrapper p {
  color: var(--clr-red);
  font-size: var(--fs-error);
  font-weight: var(--fw-500);
  font-style: italic;
  text-align: right;
  margin-top: 0.5rem;
  display: none;
}

.form-btn {
  background-color: var(--clr-green);
  box-shadow: var(--shadow-green);
}

.form-btn:hover {
  background-color: var(--clr-green-light);
}

.terms {
  color: var(--clr-greish-blue);
  font-size: var(--fs-pg);
  letter-spacing: 0.5px;
}

.terms a {
  color: var(--clr-red);
  font-weight: var(--fw-600);
  font-size: var(--fs-pg);
  line-height: var(--lh-regular);
  text-decoration: none;
}

.error {
  position: relative;
}

.error input {
  border: 2px solid var(--clr-red);
}

.error p {
  display: block;
}

.error:after {
  content: '';
  position: absolute;
  background-image: url(./images/icon-error.svg);
  background-size: cover;
  width: 1.5rem;
  height: 1.5em;
  top: 1.1rem;
  right: 2rem;
}

.error input::placeholder {
  color: transparent;
}

.error:nth-child(3) input::placeholder {
  color: var(--clr-red);
}

input:focus {
  border: 1px solid black;
}

.success {
  height: 10rem;
  max-width: 20rem;
  color: var(--clr-blue);
  font-weight: var(--fw-600);
  background: var(--clr-white);
  border-radius: var(--br-regular);
  box-shadow: var(--shadow);
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 65em) {
  body {
    display: grid;
    place-content: center;
  }

  main {
    max-width: 1200px;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  article {
    max-width: 600px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }

  h1 {
    max-width: 27rem;
    font-size: 3rem;
    margin: 0 0 2rem;
  }

  section {
    max-width: 550px;
    width: 550px;
    margin-top: 0;
  }
  .br {
    display: none;
  }
  .form {
    padding: 2rem;
  }

  .input {
    padding: 1.25rem 2rem;
  }
}
