*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
  --ff-headers: 'Fraunces', serif;
  --ff-barlow: 'Barlow', sans-serif;
  --ff-text: sans-serif;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;

  --clr-soft-red: hsl(7, 99%, 70%);
  --clr-yellow: hsl(51, 100%, 49%);
  --clr-graphic-design-text: hsl(167, 40%, 24%);
  --clr-photography-text: hsl(198, 62%, 26%);
  --clr-footer: hsl(168, 34%, 41%);

  --clr-footer-background: hsl(168, 50%, 58%);

  --clr-very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --clr-very-dark-grayish-blue: hsl(213, 9%, 39%);
  --clr-dark-grayish-blue: hsl(232, 10%, 55%);
  --clr-grayish-blue: hsl(210, 4%, 67%);
  --clr-white: hsl(0, 0%, 100%);

  --fs-title: 2.4rem;
  --fs-h1: 2.2rem;
  --fs-h2: 1.8rem;
  --fs-h3: 1.7rem;
  --fs-h4: 1.2rem;
  --fs-p: 16px;
  --fs-a: 14px;
  --fs-a-: 12px;
  --fs-btn: 18px;

  --lh-p: 1.6rem;
  --ls: 2px;
}

.content-wrapper {
  min-width: 350px;
  min-width: 100dvw;
  min-height: 100vh;
  min-height: 100dvh;

  font-family: var(--ff-text);
  font-weight: var(--fw-400);
  position: relative;
}

/* ===== HEADER ===== */

header {
  display: grid;
  grid-template-areas: 'stack';
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
  min-width: 350px;
  padding: 2rem;

  grid-area: stack;
  z-index: 2;
  font-family: var(--ff-barlow);
}

.hamburger-btn {
  background-color: transparent;
  border: none;
}

.hamburger-btn:hover {
  cursor: pointer;
}

.links-wrapper {
  display: none;
  gap: 2.5rem;
  align-items: center;
}

.links-wrapper a {
  text-decoration: none;
  color: var(--clr-white);
  text-transform: capitalize;
  font-size: var(--fs-a);
}

.nav-btn {
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 30px;
  text-transform: uppercase;
  font-family: var(--ff-headers);
  font-size: var(--fs-a);
  transition: 0.1s ease-in;
  background-color: var(--clr-white);
}

.nav-btn:hover {
  cursor: pointer;
  color: var(--clr-white);
  background-color: hsl(0, 0%, 100%, 0.4);
}

.header-image-content {
  grid-area: stack;
  display: grid;
  grid-template-areas: 'stack2';
  justify-items: center;
  margin-bottom: -4px;
}

.header-image-wrapper {
  grid-area: stack2;
  width: 100vw;
}
.header-image-wrapper img {
  width: 100%;
}

.header-title {
  grid-area: stack2;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  height: fit-content;
}

.header-title h1 {
  font-family: var(--ff-headers);
  color: var(--clr-white);
  text-transform: uppercase;
  font-size: var(--fs-h1);
  letter-spacing: 4px;
  text-align: center;
  cursor: default;
  max-width: 80%;
  font-weight: var(--fw-900);
}

.arrow-wrapper {
  height: 7rem;
}

.arrow-wrapper img {
  height: 100%;
}

.desktop {
  display: none;
}

/* header image swap  */
@media screen and (min-width: 1100px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .links-wrapper {
    display: flex;
  }
  .hamburger-btn {
    display: none;
  }
  .arrow-wrapper {
    height: 6rem;
  }
  .header-title h1 {
    font-size: var(--fs-title);
  }
}

/* ===== ASIDE ===== */

.aside-wrapper {
  position: absolute;
  z-index: 3;
  top: 5rem;
  right: 2rem;
  width: calc(100% - 4rem);
  background-color: var(--clr-white);

  display: grid;
  place-items: center;
  gap: 2rem;
  padding: 6rem 2rem 3rem;
  clip-path: polygon(93% 9%, 100% 0, 100% 100%, 0 100%, 0 9%);
}

.aside-wrapper a {
  color: var(--clr-very-dark-grayish-blue);
  font-size: var(--fs-h4);
  font-weight: var(--fw-600);
  text-decoration: none;
  text-transform: capitalize;
}

.aside-wrapper a:hover {
  cursor: pointer;
  color: var(--clr-very-dark-desaturated-blue);
}

.aside-btn {
  background-color: var(--clr-yellow);
  padding: 1.25rem 2.25rem;
  font-size: var(--fs-p);
  color: var(--clr-very-dark-desaturated-blue);
}

.aside-btn:hover {
  color: var(--clr-white);
  background-color: hsla(204, 100%, 50%, 0.802);
}

@media screen and (min-width: 1100px) {
  .aside-wrapper {
    display: none;
  }
}

/* ===== MAIN ===== */

.main-wrapper {
  display: grid;
  grid-template-columns: 100vw;
}

.main-image {
  width: 100%;
}

.main-image img,
.main-article img {
  width: 100%;
}

.main-info {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
  padding: 4rem 2rem 4rem;
  gap: 2rem;
}

.main-info h2 {
  font-family: var(--ff-headers);
  font-size: var(--fs-h2);
  font-weight: var(--fw-900);
  width: 90%;
}

.main-info p {
  color: var(--clr-dark-grayish-blue);
  font-size: var(--fs-p);
  line-height: var(--lh-p);
  width: 95%;
}

.info-btn {
  background-color: transparent;
  border: none;
  font-family: var(--ff-headers);
  text-transform: uppercase;
  padding: 0 5px;
  display: grid;
  place-items: center;
  font-size: var(--fs-p);
  color: var(--clr-very-dark-desaturated-blue);
}

.underline {
  height: 8px;
  width: 115%;
  background-color: hsl(7, 99%, 70%, 0.35);
  border-radius: 5px;
  margin-top: -0.5rem;
  z-index: -1;
}

.info-btn {
  cursor: pointer;
}

.underline-egg {
  background-color: hsl(51, 100%, 49%, 0.35);
}

.info-btn:hover .underline {
  background-color: hsl(7, 99%, 70%);
}

.info-btn:hover .underline-egg {
  background-color: hsl(51, 100%, 49%);
}

.main-article {
  display: grid;
  grid-template-areas: 'stack3';
  justify-content: center;
  align-items: flex-end;
}

.mobile,
.desktop {
  grid-area: stack3;
}

.article-info {
  grid-area: stack3;
  display: grid;
  text-align: center;
  gap: 2rem;
  padding: 0 2rem 5rem;
}

.article-info h3 {
  text-transform: capitalize;
  font-family: var(--ff-headers);
  font-size: var(--fs-h3);
  font-weight: var(--fw-900);
  color: var(--clr-very-dark-desaturated-blue);
}

.article-info p {
  font-family: var(--ff-barlow);
  font-weight: var(--fw-400);
  font-size: var(--fs-a);
  color: var(--clr-very-dark-grayish-blue);
  line-height: var(--lh-p);
  max-width: 290px;
  margin-inline: auto;
}

.graphic-design p,
.graphic-design h3 {
  color: var(--clr-graphic-design-text);
}

.photography p,
.photography h3 {
  color: var(--clr-photography-text);
}

@media screen and (min-width: 1100px) {
  .header-image-content {
    margin-bottom: 0;
  }
  .main-wrapper {
    grid-template-columns: 50% 50%;
  }
  .article-info {
    padding: 0 2rem 3rem;
  }
  .egg-text {
    order: -1;
  }
  .main-info {
    text-align: left;
    place-items: unset;
    padding: 6rem 4rem;
    justify-content: center;
    max-width: 535px;
    margin-inline: auto;
  }

  .main-info h2 {
    font-size: var(--fs-h1);
  }

  .info-btn {
    width: fit-content;
  }
}

/* ===== TESTIMONIALS ===== */

.testimonials {
  width: 100%;
  display: grid;
  place-content: center;
  padding: 4rem 0;
}

.testimonials h4 {
  text-transform: uppercase;
  color: var(--clr-grayish-blue);
  font-family: var(--ff-headers);
  letter-spacing: var(--ls);
  margin: 0 auto 4rem;
}

.testimonials-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.single-testimonial {
  display: grid;
  justify-items: center;
  align-content: space-between;
  padding: 0 2.35rem;
  text-align: center;
  gap: 1rem;
  max-width: 375px;
}

.avatar-wrapper {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-wrapper img {
  width: 100%;
  height: 100%;
}

.quote {
  line-height: var(--lh-p);
  color: var(--clr-very-dark-grayish-blue);
  font-size: var(--fs-p);
}

.person-info {
  display: grid;
  gap: 0.5rem;
}

.person-name {
  text-transform: capitalize;
  font-family: var(--ff-headers);
  font-size: var(--fs-p);
}

.job-position {
  color: var(--clr-grayish-blue);
  text-transform: capitalize;
  font-size: var(--fs-a-);
}

@media screen and (min-width: 1100px) {
  .testimonials-wrapper {
    flex-direction: row;
    justify-content: space-around;
    padding: 0 0;
    gap: 2rem;
  }
  .testimonials {
    padding: 8rem 2rem;
  }

  .testimonials-wrapper {
    gap: 4rem;
  }

  .single-testimonial {
    padding: 0;
    max-width: 330px;
    gap: 3rem;
  }

  .testimonials h4 {
    margin: 0 auto 6rem;
  }
}

/* ===== FIGURE ===== */

.figure-wrapper {
  min-width: 100vw;
  display: grid;
  grid-template-columns: 50% 50%;
}

.figure-image-wrapper img {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 1100px) {
  .figure-wrapper {
    grid-template-columns: repeat(4, 25%);
  }
}

/* ===== FOOTER ===== */

.footer-wrapper {
  background-color: var(--clr-footer-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 3.5rem;
}

.logo-wrapper-footer {
  width: 10rem;
}
.logo-wrapper-footer img {
  width: 100%;
  filter: invert(27%) sepia(11%) saturate(1982%) hue-rotate(116deg)
    brightness(30%) contrast(88%);
}

.links-wrapper-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  max-width: 375px;
}

.links-wrapper-footer a {
  color: var(--clr-footer);

  text-decoration: none;
  text-transform: capitalize;
  font-size: var(--fs-p);
  font-weight: var(--fw-600);
}

.links-wrapper-footer a:hover {
  color: var(--clr-white);
}

.socials-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}

.socials-wrapper a:hover {
  filter: brightness(0) invert(1);
}
