* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: hsl(158, 36%, 37%);
  --clr-primary-dark: hsl(158, 36%, 20%);
  --clr-secondary: hsl(30, 38%, 92%);

  --clr-dark-blue: hsl(212, 21%, 14%);
  --clr-dark-grey: hsl(228, 12%, 48%);
  --clr-white: hsl(0, 0%, 100%);

  --ff-primary: 'Fraunces', serif;
  --ff-secondary: 'Montserrat';
}

main {
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-secondary);
  display: flex;
  place-items: center;
}

.container {
  width: 90%;
  max-width: 375px;
  min-width: 300px;
  height: 40rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.img-container {
  width: 100%;
  max-height: 40%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  min-height: 55%;
  background-color: var(--clr-white);
  display: grid;
  padding: 1.5rem 2rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

p {
  font-family: var(--ff-secondary);
  color: var(--clr-dark-grey);
  font-size: small;
  font-weight: 500;
  line-height: 20px;
}

.title {
  letter-spacing: 5px;
}

h1 {
  font-family: var(--ff-primary);
  line-height: 35px;
  font-size: 1.9rem;
}

.price-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.discounted-price,
.price {
  display: inline;
}

.discounted-price {
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  font-size: 1.9rem;
}

.price {
  color: var(--clr-dark-grey);
  font-family: var(--ff-secondary);
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: line-through;
}

.btn {
  border-radius: 10px;
  border: none;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.5rem 0;
  font-size: 0.8rem;
  font-family: var(--ff-secondary);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--clr-primary-dark);
}

@media screen and (min-width: 795px) {
  .container {
    max-width: 40rem;
    max-height: 30rem;
    margin: auto;
    flex-direction: row;
  }

  .img-container {
    width: 25rem;
    max-height: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }
  .info {
    width: 25rem;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    padding: 2rem;
  }

  p {
    font-size: 0.9rem;
    line-height: 25px;
    max-width: 15rem;
  }

  .title {
    font-size: 0.75rem;
  }

  h1 {
    max-width: 14rem;
  }

  .price-container {
    margin-top: -1rem;
    margin-bottom: 1rem;
  }

  .discounted-price {
    font-size: 2rem;
  }
}
