*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --ff-main: 'Raleway', sans-serif;
  --ff-body: 'Open Sans', sans-serif;
  color-scheme: dark;

  --fw-400: 400;
  --fw-700: 700;

  --fs-small: 0.875rem;
  --fs-text: 0.9375rem;
  --fs-hero-title: 1.5rem;
  --fs-hero-title-desktop: ;

  --clr-dark-blue: hsl(217, 28%, 15%);
  --clr-dark-blue-2: hsl(218, 28%, 13%);
  --clr-dark-blue-3: hsl(216, 53%, 9%);
  --clr-dark-blue-4: hsl(219, 30%, 18%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-desaturated-white: hsl(0, 0%, 80%);

  --clr-cta-cyan: hsl(176, 68%, 64%);
  --clr-cta-blue: hsl(198, 60%, 50%);
  --clr-error: hsl(0, 100%, 63%);

  --clr-intro-email-bg: var(--clr-dark-blue);
  --clr-main-bg: var(--clr-dark-blue-2);
  --clr-footer-bg: var(--clr-dark-blue-3);
  --clr-testimonials-bg: var(--clr-dark-blue-4);
  --clr-text: var(--clr-desaturated-white);
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-small);
  color: var(--clr-text);
  font-weight: var(--fw-400);
}

img {
  width: 100%;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap_5 {
  gap: 0.5rem;
}

.gap_10 {
  gap: 1rem;
}

.gap_15 {
  gap: 1.5rem;
}

.gap_20 {
  gap: 2rem;
}

.space_out {
  justify-content: space-between;
}

.centered {
  align-items: center;
}

.container {
  width: 85%;
  max-width: 900px;
  margin-inline: auto;
}

.header {
  background-color: var(--clr-intro-email-bg);
  padding: 1.5rem 1rem;
}

.header__content {
  max-width: 1000px;
  margin-inline: auto;
}

.header__content_logo {
  width: 5rem;
}

.header__content_links {
  list-style: none;
}
.header__content_links a {
  text-decoration: none;
  color: var(--clr-text);
  text-transform: capitalize;
}

.header__content_links a:hover,
.header__content_links a:focus {
  color: var(--clr-white);
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  .header {
    padding: 3rem;
  }

  .header__content_logo {
    width: 7rem;
  }

  .header__content_links {
    gap: 2.5rem;
  }
}

.hero {
  background-color: var(--clr-intro-email-bg);
  text-align: center;
  position: relative;
  isolation: isolate;
  padding: 2rem 0;
}

.hero__content {
  max-width: 600px;
  margin-inline: auto;
}

.hero__content_info {
  justify-items: center;
}

.hero__content_info_title {
  color: var(--clr-white);
  font-family: var(--ff-main);
  font-size: var(--fs-hero-title);
  font-weight: var(--fw-700);
  max-width: 500px;
  line-height: 2rem;
}

.hero__content_info_text {
  font-size: var(--fs-text);
  max-width: 450px;
}

.hero__content_info_btn {
  border: none;
  padding: 1rem 4.5rem;
  text-transform: capitalize;
  font-size: var(--fs-small);
  font-weight: var(--fw-700);
  border-radius: 10rem;
  background-color: var(--clr-cta-blue);
  justify-self: center;
  color: var(--clr-white);
}

.hero__content_info_btn:hover,
.hero__content_info_btn:focus {
  cursor: pointer;
  background-color: var(--clr-cta-cyan);
}

.background {
  position: absolute;
  width: 100%;
  inset: auto 0 10rem;
  z-index: -1;
}

.desktop {
  display: none;
}

.hero:before {
  content: '';
  background-color: var(--clr-main-bg);
  bottom: 0;
  left: 0;
  height: 10.5rem;
  width: 100%;
  z-index: -1;
  position: absolute;
}

@media screen and (min-width: 600px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .background {
    inset: auto 0 0;
  }

  .hero:before {
    display: none;
  }
}
