*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --ff-main: 'Raleway', sans-serif;
  --ff-body: 'Open Sans', sans-serif;
  color-scheme: dark;

  --fw-400: 400;
  --fw-700: 700;

  --fs-small: 0.875rem;
  --fs-text: 0.9375rem;
  --fs-hero-title: 1.5rem;
  --fs-hero-title-desktop: 2.15rem;
  --fs-cta-title: 1.25rem;
  --fs-cta-title-desktop: 1.75rem;
  --fs-main-title: 1.15rem;

  --clr-dark-blue: hsl(217, 28%, 15%);
  --clr-dark-blue-2: hsl(218, 28%, 13%);
  --clr-dark-blue-3: hsl(216, 53%, 9%);
  --clr-dark-blue-4: hsl(219, 30%, 18%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-desaturated-white: hsl(0, 0%, 80%);

  --clr-cta-cyan: hsl(176, 68%, 64%);
  --clr-cta-blue: hsl(198, 60%, 50%);
  --clr-error: hsl(0, 100%, 63%);

  --clr-intro-email-bg: var(--clr-dark-blue);
  --clr-main-bg: var(--clr-dark-blue-2);
  --clr-footer-bg: var(--clr-dark-blue-3);
  --clr-testimonials-bg: var(--clr-dark-blue-4);
  --clr-text: var(--clr-desaturated-white);
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-small);
  color: var(--clr-text);
  font-weight: var(--fw-400);
  line-height: 1.5rem;
}

img {
  width: 100%;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap_5 {
  gap: 0.5rem;
}

.gap_10 {
  gap: 1rem;
}

.gap_15 {
  gap: 1.5rem;
}

.gap_20 {
  gap: 2rem;
}

.gap_25 {
  gap: 2.5rem;
}

.space_out {
  justify-content: space-between;
}

.centered {
  align-items: center;
}

.container {
  width: 85%;
  max-width: 1000px;
  margin-inline: auto;
}

.header {
  background-color: var(--clr-intro-email-bg);
  padding: 1.5rem 1rem;
}

.header__content {
  max-width: 1000px;
  margin-inline: auto;
}

.header__content_logo {
  width: 5rem;
}

.header__content_links {
  list-style: none;
}
.header__content_links a {
  text-decoration: none;
  color: var(--clr-text);
  text-transform: capitalize;
}

.header__content_links a:hover,
.header__content_links a:focus {
  color: var(--clr-white);
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  .header {
    padding: 3rem;
  }

  .header__content_logo {
    width: 7rem;
  }

  .header__content_links {
    gap: 2.5rem;
  }
}

.hero {
  background-color: var(--clr-intro-email-bg);
  text-align: center;
  position: relative;
  isolation: isolate;
  padding: 2rem 0;
  margin-top: -2px;
}

.hero__content {
  max-width: 600px;
  margin-inline: auto;
}

.hero__content_info {
  justify-items: center;
}

.hero__content_info_title {
  color: var(--clr-white);
  font-family: var(--ff-main);
  font-size: var(--fs-hero-title);
  font-weight: var(--fw-700);
  max-width: 500px;
  line-height: 2rem;
}

.hero__content_info_text {
  font-size: var(--fs-text);
  max-width: 450px;
}

.hero__content_info_btn {
  border: none;
  padding: 1rem 4.5rem;
  text-transform: capitalize;
  font-size: var(--fs-small);
  font-weight: var(--fw-700);
  border-radius: 10rem;
  background-color: var(--clr-cta-blue);
  justify-self: center;
  color: var(--clr-white);
}

.hero__content_info_btn:hover,
.hero__content_info_btn:focus {
  cursor: pointer;
  background-color: var(--clr-cta-cyan);
}

.background {
  position: absolute;
  width: 100%;
  inset: auto 0 10rem;
  z-index: -1;
}

.desktop {
  display: none;
}

.hero:before {
  content: '';
  background-color: var(--clr-main-bg);
  bottom: 0;
  left: 0;
  height: 10.5rem;
  width: 100%;
  z-index: -1;
  position: absolute;
}

@media screen and (min-width: 600px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .background {
    inset: auto 0 0;
  }

  .hero:before {
    display: none;
  }

  .hero__content_info_title {
    font-size: var(--fs-hero-title-desktop);
    max-width: 650px;
    line-height: 3rem;
  }
}

.main {
  background-color: var(--clr-main-bg);
  padding: 6rem 0;
  text-align: center;
}

.main__content {
  gap: 5rem;
}

.main__content_info {
  justify-items: center;
}

.main__content_info_text_header {
  color: var(--clr-white);
  font-size: var(--fs-main-title);
}

.main__content_info_text p {
  font-size: var(--fs-small);
}

.main__content_info_text {
  max-width: 390px;
}

@media screen and (min-width: 850px) {
  .main__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .main__content_info {
    align-content: space-between;
  }
}

.cta {
  background-color: var(--clr-main-bg);
  text-align: left;
  padding: 3rem 0;
}

.cta__content_info_header {
  color: var(--clr-white);
  font-size: var(--fs-cta-title);
}

.cta__content_info_link {
  justify-self: left;
  align-items: center;
  border-bottom: 1px solid var(--clr-cta-cyan);
}

.arrow img {
  justify-self: center;
}

.cta__content_info_link a {
  color: var(--clr-cta-cyan);
  text-decoration: none;
}

.cta__content_info_link:hover,
.cta__content_info_link:focus {
  cursor: pointer;
  border-bottom: 1px solid var(--clr-white);
}

.cta__content_info_link:hover a,
.cta__content_info_link:focus a {
  color: var(--clr-white);
}

.cta__content_info_link:hover .arrow-normal,
.cta__content_info_link:focus .arrow-normal,
.arrow-hover {
  display: none;
}

.cta__content_info_link:hover .arrow-hover,
.cta__content_info_link:focus .arrow-hover {
  display: flex;
}

@media screen and (min-width: 850px) {
  .cta__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .cta__content_info {
    align-self: flex-end;
    margin-bottom: 2rem;
  }

  .cta__content_info_header {
    font-size: var(--fs-cta-title-desktop);
    line-height: 2.5rem;
    max-width: 20rem;
    letter-spacing: 1px;
  }
}
