*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500;600;700&display=swap');

:root {
  --ff-main: 'Commissioner', sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --fs-p: 0.85rem;
  --fs-p-desktop: 0.9rem;
  --fs-btn: 1rem;
  --fs-statistics: 2rem;
  --fs-aside-links: 1.2rem;
  --fs-card-title: 1rem;
  --fs-card-title-desktop: 1.25rem;

  --br-10: 10px;
  --br-btn: 2rem;

  --gap: 1.5rem;
  --lh-p: 1.5rem;

  --br-modal: 1px solid var(--clr-light-dark-gray);
  --br-modal-focus: 1px solid var(--clr-moderate-cyan);

  /* colors */
  --clr-moderate-cyan: hsl(176, 50%, 47%);
  --clr-dark-cyan: hsl(176, 72%, 28%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(0, 0%, 98%);
  --clr-light-gray-divider: hsl(0, 0%, 95%);
  --clr-light-dark-gray: hsl(0, 0%, 78%);
  --clr-dark-gray: hsl(0, 0%, 48%);
}

.app-wrapper {
  max-width: 100vw;
  max-width: 100dvw;
  font-family: var(--ff-main);
  position: relative;
  min-height: 100vh;
  background-color: var(--clr-light-gray);
  padding-bottom: 6rem;
}

/* ---------- HEADER ---------- */

.header-wrapper {
  width: 100%;
  height: 20rem;

  background-image: url(./images/image-hero-mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.navbar-wrapper {
  max-width: 1100px;
  margin-inline: auto;
  padding: 2.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links-wrapper {
  display: none;
  gap: 2rem;
}

.links-wrapper li {
  list-style: none;
}

.links-wrapper li:hover {
  cursor: pointer;
}

.links-wrapper a {
  text-decoration: none;
  color: var(--clr-white);
  font-weight: var(--fw-400);
}

.nav-btn {
  width: 1.5rem;
  background-color: transparent;
  border: none;
}

img {
  width: 100%;
  height: 100%;
}

.aside-close-btn {
  display: none;
}

.logo-wrapper,
.nav-btn {
  z-index: 1;
}

@media screen and (min-width: 800px) {
  .header-wrapper {
    background-image: url(./images/image-hero-desktop.jpg);
  }

  .links-wrapper {
    display: flex;
  }

  .nav-btn {
    display: none;
  }
}

/* ---------- ASIDE ---------- */

.aside-wrapper {
  position: absolute;
  inset: 6.5rem 1.5rem auto;
  z-index: 1;
  border-radius: var(--br-10);
  background-color: var(--clr-white);
}

.aside-wrapper:has(.links-wrapper) .links-wrapper {
  display: grid;
  gap: 0;
}

.aside-wrapper:has(.links-wrapper) .links-wrapper li {
  padding: 1.5rem;
  border-bottom: 1px solid var(--clr-light-gray-divider);
}

.aside-wrapper:has(.links-wrapper) .links-wrapper > :last-child {
  border-bottom: none;
}

.aside-wrapper:has(.links-wrapper) .links-wrapper a {
  color: var(--clr-black);
  font-weight: var(--fw-500);
  font-size: var(--fs-aside-links);
}

/* ---------- DARKENER ---------- */

.darkener {
  position: absolute;
  inset: 0;
  background-color: hsl(0, 0%, 0%, 0.55);
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* ---------- MAIN ---------- */

.main-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-light-gray);
  width: 100%;
  gap: var(--gap);
}

.cta,
.main-info,
.about-wrapper {
  width: min(100% - 3rem, 650px);
  margin: 0 auto;
  background-color: var(--clr-white);
  border-radius: var(--br-10);
  padding: 2.5rem 1.5rem;
  border: 1px solid var(--clr-light-gray-divider);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cta {
  margin-top: -3rem;
  position: relative;
}

.main-info {
  gap: 2rem;
}

.mastercraft-logo-wrapper {
  width: 3.5rem;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-title {
  margin-top: 1rem;
  text-transform: capitalize;
}

/* .main-wrapper p { */
p {
  color: var(--clr-dark-gray);
  font-weight: var(--fw-500);
  font-size: var(--fs-p);
  line-height: var(--lh-p);
}

.cta-btn-wrapper {
  display: grid;
  grid-template-columns: 1fr 3.5rem;
  grid-template-rows: 3.5rem;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
}

.btn {
  border: none;
  font-family: var(--ff-main);
  font-size: var(--fs-btn);
  font-weight: var(--fw-600);
  color: var(--clr-white);
  background-color: var(--clr-moderate-cyan);
  border-radius: var(--br-btn);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover:not(.bookmark-btn, .out-of-stock .btn) {
  cursor: pointer;
  background-color: var(--clr-dark-cyan);
}

.bookmark-btn span {
  display: none;
}

.main-numbers {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
}

.divider {
  border-bottom: 1px solid var(--clr-light-gray-divider);
  width: 4.5rem;
}

.statistics > :first-child {
  font-weight: var(--fw-700);
  color: var(--clr-black);
  font-size: var(--fs-statistics);
}

.bar,
.bar-inner-line {
  width: 100%;
  height: 0.9rem;
  background-color: var(--clr-light-gray-divider);
  border-radius: var(--br-10);
}

.bar-inner-line {
  background-color: var(--clr-moderate-cyan);
  width: 80%;
}

@media screen and (min-width: 500px) {
  .cta-btn-wrapper {
    grid-template-columns: max(4rem, 13rem) 11.5rem;
  }

  .bookmark-btn {
    display: grid;
    grid-template-columns: 3.5rem 1fr;
    background-color: var(--clr-light-gray);
    color: var(--clr-dark-gray);
  }

  .bookmark-btn:hover {
    cursor: pointer;
    background-color: var(--clr-light-gray-divider);
  }

  .bookmark-btn span {
    display: block;
    justify-self: center;
    font-weight: var(--fw-600);
  }
}
@media screen and (min-width: 600px) {
  .cta,
  .main-info,
  .about-wrapper {
    padding: 2.5rem;
  }

  .main-numbers {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    width: 100%;
    text-align: left;
    gap: 2.5rem;
    justify-content: space-between;
  }

  .statistics:not(.card-cta:has(.statistics) .statistics) {
    border-bottom: none;
    border-right: 1px solid var(--clr-light-gray-divider);
  }

  .main-numbers > :last-child {
    border-right: none !important;
  }

  .divider {
    display: none;
  }

  /* .main-wrapper p { */
  p {
    font-size: var(--fs-p-desktop);
  }
}

.checked {
  color: var(--clr-dark-cyan);
  background-color: var(--clr-light-gray-divider);
}
.checked span {
  font-weight: var(--fw-700);
}

/* ---------- ABOUT ---------- */

.about-wrapper {
  text-align: left;
}

.about-info {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.card {
  border: var(--br-modal);
  border-radius: var(--br-10);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.card-title,
.card-cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .card-title > :first-child { */
.title-name {
  color: black !important;
  font-weight: var(--fw-700) !important;
  font-size: var(--fs-card-title);
}

/* .card-title > :last-child { */
.pledge {
  color: var(--clr-moderate-cyan) !important;
  font-size: var(--fs-card-title);
}

.card-cta {
  gap: var(--gap);
}

.card-cta:has(.statistics) .statistics {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
}

.card-cta:has(.statistics) .statistics > :first-child {
  margin-bottom: 0;
}

.select-reward-btn {
  font-size: var(--fs-p);
  padding: 1rem 2rem;
}

.out-of-stock {
  opacity: 0.4;
}

.out-of-stock .btn {
  background-color: var(--clr-dark-gray);
}

@media screen and (min-width: 500px) {
  .card-title,
  .card-cta {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .card-title:not(.grid-divider:has(.card-title) .card-title) > :first-child {
    font-size: var(--fs-card-title-desktop);
  }
}

/* .about-wrapper:has(.cards-wrapper) .modal-card {
  display: none;
} */

/* ---------- BACKING OPTIONS ---------- */

.modal-wrapper {
  width: min(100% - 3rem, 650px);
  margin: 0 auto;
  background-color: var(--clr-white);
  border-radius: var(--br-10);
  padding: 2.5rem 1.5rem;
  border: 1px solid var(--clr-light-gray-divider);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  justify-content: center;
  align-items: center;
  text-align: left;
  position: absolute;
  inset: 10rem 0 auto;
  margin-inline: auto;
  z-index: 3;
}

.modal-wrapper > * {
  z-index: 3;
}

.close-modal-btn {
  background-color: transparent;
  border: none;
  height: 1.25rem;
}

.close-modal-btn {
  cursor: pointer;
}

.modal-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.modal-wrapper p {
  color: var(--clr-dark-gray);
  font-weight: var(--fw-500);
  font-size: var(--fs-p);
  line-height: var(--lh-p);
}

.modal-card .title-name:hover {
  cursor: pointer;
  color: var(--clr-moderate-cyan) !important;
}

.app-wrapper:has(.modal-wrapper) .darkener {
  z-index: 2;
}

.grid-divider {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.modal-desktop {
  display: none;
}

.modal-card {
  padding: 0;
  gap: 0;
}

.grid-divider {
  padding: 1.5rem;
}

.modal-checked {
  box-shadow: 0 0 0px 1px var(--clr-moderate-cyan);
  border-color: var(--clr-moderate-cyan);
}

.modal-phone {
  display: flex;
  gap: 0.5rem;
}

.modal-phone > :first-child,
.modal-desktop > :first-child {
  font-size: var(--fs-aside-links);
}

.modal-cta {
  display: none;
}

.modal-checked .modal-cta {
  display: flex;
  flex-direction: column;
  border-top: var(--br-modal);
  padding: 1.5rem;
  gap: var(--gap);
  align-items: center;
}

.modal-input-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.continue-btn {
  padding: 1rem 1.5rem;
  font-size: var(--fs-p);
}

.input-pledge {
  padding: 1rem 1.5rem 1rem 2rem;
  border-radius: var(--br-btn);
  border: var(--br-modal);
  width: 6.5rem;
  background-image: url(./images/dollar-sign.svg);
  background-position: left;
  background-size: 0.85rem 0.85rem;
  background-repeat: no-repeat;
  background-position-x: 1rem;
  font-family: var(--ff-main);
  font-weight: var(--fw-700);
}

.input-pledge:hover {
  cursor: pointer;
}

.input-pledge:focus {
  outline: var(--br-modal-focus);
  outline-color: transparent;
  border: var(--br-modal-focus);
}

.radio {
  height: 1.25rem;
  width: 1.25rem;
  accent-color: currentColor;
  align-self: center;
}

.radio:hover {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

#hidden {
  visibility: hidden;
  display: none;
}

@media screen and (min-width: 500px) {
  .modal-checked .modal-cta {
    flex-direction: row;
    justify-content: space-between;
  }

  .modal-input-wrapper {
    width: auto;
    gap: 0.5rem;
  }

  .grid-divider .card-title {
    gap: var(--gap);
  }

  #hidden {
    visibility: hidden;
    display: block;
  }
}

@media screen and (min-width: 600px) {
  .grid-divider {
    display: grid;
    grid-template-columns: 1rem 1fr;
  }

  .grid-divider .card-title {
    gap: 0;
  }

  .modal-wrapper p {
    font-size: var(--fs-p-desktop);
  }

  .radio {
    grid-area: span 2;
    align-self: flex-start;
    justify-self: center;
    height: 1.25rem;
    width: 1.25rem;
    accent-color: currentColor;
    margin-top: 0.25rem;
  }

  .radio:hover {
    cursor: pointer;
  }

  .modal-phone {
    display: none;
  }

  .modal-desktop {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-right: none !important;
  }

  .grid-divider:has(.card-title) .pledge {
    margin: 0 auto 0 1rem;
  }

  .grid-divider:has(.card-title) .card-title {
    align-items: flex-end;
  }

  #control-max-width {
    max-width: 95%;
  }
}

/* ---------- UTILITIES ---------- */

.do-not-display {
  display: none;
}

.display {
  display: block;
}
